<!-- Menu horizonal -->
<header class="main-header">
    <!-- Logo -->
    <a href="../v1/inicio" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>HyT</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Hoteleria</b> y <b>Turismo</b></span>
      
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
      
          <!-- User Account: style can be found in dropdown.less -->
          
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="../v1/salir"><i class="fa fa-sign-out"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Menu vertical -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/img/iconR.png" width="120px" height="120px">
      </div>
      
    </div>
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menu</li>

        <li>
          <a href="../v1/usuario">
            <i class="fa fa-user"></i> <span>Usuarios</span>
          </a>
        </li>

        <li>
          <a href="../v1/habitaciones">
            <i class="fa fa-bed"></i> <span>Habitaciones</span>
          </a>
        </li>

        <li>
          <a href="../v1/reservaciones">
            <i class="fa  fa-calendar-o"></i> <span>Reservaciones</span>
          </a>
        </li>
        <li>
          <a href="../v1/categorias">
            <i class="fa  fa-book"></i> <span>Categorias</span>
          </a>
        </li>
        <li>
          <a href="../v1/metodopago">
            <i class="fa fa-credit-card"></i> <span>Metodos de pago</span>
          </a>
        </li>
        <li>
          <a href="../v1/pisos">
            <i class="fa fa-reorder"></i> <span>pisos</span>
          </a>
        </li>
        <li>
          <a href="../v1/estadosh">
            <i class="fa  fa-hourglass-start"></i> <span>Estados de habitacion</span>
          </a>
        </li>
        <li>
          <a href="../v1/tiposu">
            <i class="fa  fa-user-plus"></i> <span>Tipos de usuario</span>
          </a>
        </li>

        <li>
          <a href="../v1/salir">
            <i class="fa fa-sign-out"></i> <span>Salir</span>
          </a>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>