<head>
    <meta charset="utf-8">
    <title><%= titulo %></title>
    <link rel="icon" href="/img/iconR.png" type="image/png">
    <!--BOOTSTRAP Y JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-0Cbi9X9yK+w26dU5/qeP5fz/nJmwg1UXZDMU6ThxnH6bmM9cik99m83g8lRjF/Sv2l1C4wzZl95Yrlfnq1kheg=="
        crossorigin="anonymous" />
        <link rel="stylesheet" href="../../v1/bower_components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/styleB.css">
    <link rel="stylesheet" href="/css/reserva.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/maps.js"></script>


</head>
