<head>
    <meta charset="utf-8">
    <title><%= titulo %></title>
    <!--BOOTSTRAP Y JS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-0Cbi9X9yK+w26dU5/qeP5fz/nJmwg1UXZDMU6ThxnH6bmM9cik99m83g8lRjF/Sv2l1C4wzZl95Yrlfnq1kheg=="
        crossorigin="anonymous" />
        <link rel="stylesheet" href="../../v1/bower_components/font-awesome/css/font-awesome.min.css">


        
<!-- Incluye Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styleB.css">
    <link rel="stylesheet" href="/css/reserva.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/maps.js"></script>
   



</head>
