<head>
    <meta charset="utf-8">
    <title><%= titulo %></title>
    <link rel="icon" href="/img/iconR.png" type="image/png">
    <!--BOOTSTRAP Y JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-0Cbi9X9yK+w26dU5/qeP5fz/nJmwg1UXZDMU6ThxnH6bmM9cik99m83g8lRjF/Sv2l1C4wzZl95Yrlfnq1kheg=="
        crossorigin="anonymous" />
        <link rel="stylesheet" href="../../v1/bower_components/font-awesome/css/font-awesome.min.css">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/styleB.css">
    <link rel="stylesheet" href="/css/reserva.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBud7M5zDz3lC8Fz7lDgK7UsnzAt5bXpR6D6d7B/TDfQ8DgM" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/maps.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>
<head>
    <!-- ... Otros enlaces y metaetiquetas ... -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6Gvk/e3E3k7e+9R3k3uVksb" crossorigin="anonymous">
  </head>

</head>
