<div class="container-fluid p-0 bg-dark wrapper">
    <nav class="navbar navbar-expand-lg navbar-light  py-3 py-lg-0 px-lg-5">
        <a class="navbar-brand ml-lg-3" href="/">
            <img src="/img/icon.png" class="hover imagesize img-fluid" style="max-height: 150px;" />
        </a>
        <button type="button" class="navbar-toggler btn-danger btn-lg" data-toggle="collapse"
            data-target="#navbarCollapse">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">


            <div class="navbar-nav m-auto py-0">
                <a class="btn btn-lg text-white btn-hover-danger" href="/">Inicio</a>
                <a class="btn btn-lg text-white btn-hover-danger "
                    href="/imagenes">Imagenes</a>
                <a class="btn btn-lg text-white btn-hover-danger "
                    href="servicios">Servicios</a>
                <a class="btn btn-lg text-white btn-hover-danger "
                    href="/precio">Precio</a>
                <a class="btn btn-lg text-white btn-hover-danger "
                    href="/contactenos">Contáctenos</a>
                    <div class="navbar-nav m-auto py-0">
                        <!-- ... otros elementos del menú ... -->
                
                        <% if (userName) { %>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle btn btn-danger btn-lg text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%= userName %>
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                              </div>
                            </li>
                          <% } else { %>
                            <a class="btn btn-danger btn-lg text-white" href="/login">Iniciar sesión</a>
                          <% } %>
                      </div>
                    </div>
                  </nav>
                </div>
<script src="/js/custom.js"></script>