<!doctype html>
<html>

<%- include("./partials/head.ejs", {'titulo':'Inicio'}); %>

    <body>

        <div class="page-content">
            <%- include("./partials/menu.ejs"); %>

                <div class="jumbotron">
                    <div class="container d-flex align-items-center">
                        <div class="col-md-10 mx-auto melo">
                            <h1 class="text-center">Bienvenido</h1>
                        </div>
                    </div>
                </div>
                <div class="bg-dark melito"></div>
                <div class="container mt-4 ">
                    <div class="bg-danger text-center w-100">
                        <h1>HOTELES</h1>
                    </div>
                    <div class="card mb-4  col-md-12 mt-4">
                        <div class="row ">
                            <div class="col-md-4">
                                <img src="/img/cabaña.jpg" class="card-img" alt="">
                            </div>
                            <div class="col-md-8 mx-auto ">
                                <div class="card-body">
                                    <h5 class="card-title">Hotel Glamping La Polka</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-12">
                    <div class="bg-danger text-center w-100">
                        <h1>IMÁGENES</h1>
                    </div>
                    <div class="container">
						<div class="row">
							<div class="col-md-12">

								<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">

									<!-- Wrapper for carousel items -->
									<div class="carousel-inner">
										<div class="carousel-item active">
											<div class="row">
												<div class="col-sm-3">
													<div class="thumb-wrapper">
														<div class="img-box">
															<img src="/img/cabaña.jpg" class="img-fluid" alt="">
														</div>
														<div class="thumb-content">
															
															<p class="item-price">
												
															</p>
															
															
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="thumb-wrapper">
														<div class="img-box">
															<img src="/img/cabaña.jpg" class="img-fluid" alt="">
														</div>
														<div class="thumb-content">
															
															<p class="item-price"
											
															</p>
															
															
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="thumb-wrapper">
														<div class="img-box">
															<img src="/img/cabaña.jpg" class="img-fluid" alt="">
														</div>
														<div class="thumb-content">
															
															<p class="item-price">
												
															</p>
														
															
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="thumb-wrapper">
														<div class="img-box">
															<img src="/img/cabaña.jpg" class="img-fluid" alt="">
														</div>
														<div class="thumb-content">
															
															<p class="item-price">
												
															</p>
															
															
														</div>
													</div>
												</div>
												
											</div>
										</div>
										<div class="carousel-item">
											<div class="row">
												<div class="col-sm-3">
													<div class="thumb-wrapper">
														<div class="img-box">
															<img src="/img/cabaña.jpg" class="img-fluid" alt="">
														</div>
														<div class="thumb-content">
															
															<p class="item-price">
												
															</p>
															
															
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="thumb-wrapper">
														<div class="img-box">
															<img src="/img/cabaña.jpg" class="img-fluid" alt="">
														</div>
														<div class="thumb-content">
															
															<p class="item-price">
												
															</p>
															
															
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="thumb-wrapper">
														<div class="img-box">
															<img src="/img/cabaña.jpg" class="img-fluid" alt="">
														</div>
														<div class="thumb-content">
															
															<p class="item-price">
											
															</p>
															
															
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="thumb-wrapper">
														<div class="img-box">
															<img src="/img/cabaña.jpg" class="img-fluid" alt="">
														</div>
														<div class="thumb-content">
															
															<p class="item-price">
												
															</p>
															
															
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="carousel-item">
											<div class="row">
												<div class="col-sm-3">
													<div class="thumb-wrapper">
														<div class="img-box">
															<img src="/img/cabaña.jpg" class="img-fluid" alt="">
														</div>
														<div class="thumb-content">
															
															<p class="item-price">
												
															</p>
															
															
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="thumb-wrapper">
														<div class="img-box">
															<img src="/img/cabaña.jpg" class="img-fluid" alt="">
														</div>
														<div class="thumb-content">
															
															<p class="item-price">
												
															</p>
															
															
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="thumb-wrapper">
														<div class="img-box">
															<img src="/img/cabaña.jpg" class="img-fluid" alt="">
														</div>
														<div class="thumb-content">
															
															<p class="item-price">
												
															</p>
															
															
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="thumb-wrapper">
														<div class="img-box">
															<img src="/img/cabaña.jpg" class="img-fluid" alt="">
														</div>
														<div class="thumb-content">
															
															<p class="item-price">
												
															</p>
															
															
														</div>
													</div>
												</div>
											</div>
											
										</div>
										
									</div>
									
									<!-- Carousel controls -->
									<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
										<i class="fa fa-angle-left"></i>
									</a>
									<a class="carousel-control-next" href="#myCarousel" data-slide="next">
										<i class="fa fa-angle-right"> </i>
									</a>
									<div class="d-flex justify-content-center">
										<a href="precio" class="btn btn-danger btn-lg">ver cabañas</a>
									</div>
								</div>
								
							</div>
						</div>
					</div>

                    
                </div>
        </div>
        <%- include("./partials/footer.ejs"); %>

    </body>

</html>