<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs", {'titulo':'Login'}); %>

<link rel="stylesheet" href="/css/login2.css">

<body>
    <div class="page-content">
        <%- include("./partials/menu.ejs"); %>

        <div class="login-form">
            <img src="/img/icon.png" alt="Logo" />
            <form action="login" method="POST">
                <div class="form-group">
                    <label for="userType">Tipo de usuario</label>
					<select class="form-control" id="userType" name="tipoUsuario">
						<option value="2">Usuario</option>
						<option value="1">Administrador</option>
					  </select>
                </div>
                <div class="form-group">
                    <label for="CORREO">Correo</label>
                    <input type="email" name="correo" class="form-control" id="correo" placeholder="Ingresa el correo">
                </div>
                <div class="form-group">
                    <label for="CLAVE">Clave</label>
                    <input type="password" class="form-control" id="clave" name="clave" placeholder="CLAVE">
                </div>
                <button type="submit" class="btn btn-primary btn-block">iniciar sesion</button>
            </form>

            <!-- <div class="google-login">
                        <hr>
                        <a href="./auth/google" class="btn btn-danger btn-block">Sign in with Google       <i class="fa fa-google"></i></a>
                        
                    </div> -->
            <div class="register-link">
                <p>Don't have an account? <a href="/registro">Register</a></p>
            </div>
        </div>

    </div>

    <!-- Agregamos los archivos JS de Bootstrap -->
    <script src="/js/index.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>
<!-- ... -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- ... -->

<script>
  $(document).ready(function () {
    $("form").on("submit", function (event) {
      event.preventDefault();
      const formData = $(this).serialize();

      $.post("/login", formData, function (data) {
        if (data.error) {
          Swal.fire({
            icon: "error",
            title: "Error",
            text: data.error,
          });
        } else {
          if (data.redirect) {
            window.location.href = data.redirect;
          }
        }
      });
    });
  });
</script>
</body>

</html>