<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {'titulo':'Precio'}); %>

    
    <body>
        <div class="page-content">
            <%- include("./partials/menu.ejs", {'activo': 4}); %>
        </div>
</body>
</html>