<!doctype html>
<html>

<%- include("./partials/head.ejs", {'titulo':'registro'}); %>


<body>
	<div class="page-content">
		<%- include("./partials/menu.ejs"); %>
		<div class="container mt-4 col-6 rounded shadow p-4">

		<form action="guardar" method="post"  id="registro-form">
            <div class="modal-header">
            <h4 class="modal-title">Ingrese el nuevo usuario</h4>
          </div>
          
          <div class="modal-body">
            <div class="form-group">
            <label>Tipo de Usuario</label>
            <select name="CODIGO_TIPO_USUARIO" class="form-control" >
              <option  value="2">USUARIO</option>
            </select>
          </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
            <label>Tipo de Documento</label>
            <select name="TIPO_DOCUMENTO" class="form-control">
              <option  value="Cedula de Ciudadania">Cedula de Ciudadania</option>
                <option value="Pasaporte">Pasaporte</option>
            </select>
          </div>
          </div>
          
          <div class="modal-body">
            <label>Documento</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="DOCUMENTO" type="number" class="form-control" placeholder="Ingrese el Documento">
            </div>
          </div>
          <div class="modal-body">
            <label>Nombre</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="NOMBRE" type="text" class="form-control" placeholder="Ingrese el Nombre">
            </div>
          </div>
          <div class="modal-body">
            <label>Apellido</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="APELLIDO" type="text" class="form-control" placeholder="Ingrese el Apellido">
            </div>
          </div>
          <div class="modal-body">
            <label>Correo</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="CORREO" type="text" class="form-control" placeholder="Ingrese el Correo">
            </div>
          </div>
          <div class="modal-body">
            <label>Clave</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="CLAVE" type="text" class="form-control" placeholder="Ingrese una Clave">
            </div>
          </div>
            <div class="modal-body">
              <div class="form-group">
              <label>Estado</label>
              <select name="ESTADO" class="form-control" >
                <option  value="1">Activo</option>
              </select>
            </div>
         </div>
          <div class="modal-body">
            <label>Fecha de Creacion</label>

            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="FECHA_CREACION" type="text" class="form-control" >
            </div>
          </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
          </form>
		</div>




	</div>

	<%- include("./partials/footer.ejs"); %>
 
</body>

</html>