<!doctype html>
<html>

<%- include("./partials/head.ejs", {'titulo':'Reserva'}); %>


	<body>
		<div class="container-fluid p-0 bg-dark wrapper">
			<%- include("./partials/menu.ejs"); %>
		</div>
		<div class="container mt-4 col-6 rounded shadow p-4">
			

					<form action="" class="formulario">
						<h1 class="text-center mb-4">Hotelería y Turismo</h1>
						<h3 class="text-center mb-4">Reservación</h3>
						<p class="text-center mb-4">
							Llena este pequeño formulario para hacer tu reserva.
						</p>

						<div class="form-group">
							<label for="cliente" class="mb-2">Nombre completo:</label>
							<input id="cliente" type="text" class="form-control"
								placeholder="Ingresa tu nombre completo" required>
						</div>

						<div class="form-group">
							<label for="fechainicio" class="mb-2">Fecha de inicio:</label>
							<input type="date" id="fechainicio" class="form-control" name="fecha-inicio" required>
						</div>

						<div class="form-group">
							<label for="fechafin" class="mb-2">Fecha de fin:</label>
							<input type="date" id="fechafin" class="form-control" name="fecha-fin" required>
						</div>

						<div class="form-group">
							<label for="hora" class="mb-2">Hora de reserva:</label>
							<input id="hora" type="time" class="form-control" required>
						</div>

						<div class="form-group">
							<label for="personas" class="mb-2">Cantidad de personas:</label>
							<select id="personas" name="listapersonas" class="form-control" required>
								<option value="" disabled selected>Selecciona una opción</option>
								<option>2 personas</option>
								<option>3 personas</option>
							</select>
						</div>

						<div class="form-group">
							<label for="servicio" class="mb-2">Tipo de reserva:</label>
							<select id="servicio" name="listaservicios" class="form-control" required>
								<option value="" disabled selected>Selecciona una opción</option>
								<option>SERVICIO 1: cabaña con jacuzzi y malla - $130000 </option>
								<option>SERVICIO 2: cabaña con jacuzzi, malla, barra libre y tour por amaga - $290000</option>
								<option>SERVICIO 3: cabaña con jacuzzi, comida incluida, desayuno hasta la habitacion - $230000</option>
						
							</select>
						</div>

						<div id="respuesta"></div>

						<button id="submit" class="btn btn-primary btn-block mt-4">Enviar a WhatsApp</button>
					</form>
				
			

		</div>




		<%- include("./partials/footer.ejs"); %>









<script>
	document.querySelector("#submit").addEventListener("click", e => {
  e.preventDefault();

  //INGRESE UN NUMERO DE WHATSAPP VALIDO AQUI:
  const telefono = "573005255034";

  const cliente = document.querySelector("#cliente").value;
  const fechainicio = document.querySelector("#fechainicio").value;
  const fechafin = document.querySelector("#fechafin").value;
  const hora = document.querySelector("#hora").value;
  const personas = document.querySelector("#personas").value;
  const servicio = document.querySelector("#servicio").value;
  const resp = document.querySelector("#respuesta");

  resp.classList.remove("fail");
  resp.classList.remove("send");

  const url = `https://api.whatsapp.com/send?phone=${telefono}&text=
		*HOTELERIA Y TURISMO*%0A%0A
		*HOLA quiero realizar una reservacion*%0A%0A
		*Nombre*%0A
		${cliente}%0A
		*Fecha de reserva*%0A
		${fechainicio}%0A
    *Hasta*%0A
    ${fechafin}%0A%0A
		*Hora de la reserva*%0A
		${hora}%0A
		*Cantidad de personas*%0A
		${personas}%0A
		*Cual cabaña desea*%0A
		${servicio}`;

  if (cliente === "" || fechainicio === "" || hora === "") {
    resp.classList.add("fail");
    resp.innerHTML = `Faltan algunos datos, ${cliente}`;
    return false;
  }
  resp.classList.remove("fail");
  resp.classList.add("send");
  resp.innerHTML = `Se ha enviado tu reserva, ${cliente}`;

  window.open(url);
});

</script>
	</body>

</html>